<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ResepMasakan"
        tools:targetApi="31">
        <activity
            android:name=".edit_resep"
            android:exported="false" />
        <activity
            android:name=".tambah_resepdessert"
            android:exported="false" />
        <activity
            android:name=".tambah_resepmaincoures"
            android:exported="false" />
        <activity
            android:name=".list_resepmaincourse"
            android:exported="false" />
        <activity
            android:name=".Tambah_resepappetizer"
            android:exported="false" />
        <activity
            android:name=".halaman_profile"
            android:exported="false" />
        <activity
            android:name=".pembuatan_akun"
            android:exported="false" />
        <activity
            android:name=".tampilan_resep"
            android:exported="false" />
        <activity
            android:name=".resep_dessert"
            android:exported="false" />
        <activity
            android:name=".resep_maincourse"
            android:exported="false" />
        <activity
            android:name=".resep_appetizer"
            android:exported="false" />
        <activity
            android:name=".tampilan_utama"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>